.backcolor{
    background-color: rgb(8, 26, 184);
    height: 100%;
    width: 100%;
}

ul{
    padding-left: 10px;
}

li{
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    text-align: left;
    padding-left: 0;
    margin-left:0 ;
}

li:hover{
    background-color: chocolate;
    color: cornsilk;
}

.cursorPointer {
    cursor: pointer;
  }

.customButton {
   width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
/* to remove the up-down arrows in the text box type=number used for amount */