<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="d-none d-md-block col-md-3">
                <div class="header">
                    <h4>Group Name</h4>
                </div>
                <ul class="backcolor">
                    <div *ngFor="let grp of userGroups">
                        <li class="cursorPointer" (click)="groupSelectedToView(grp.groupId)">{{grp.groupName}}</li>
                    </div>
                </ul>
                <button data-target="#addGroupModal" data-toggle="modal"
                    class="btn btn-info btn-sm customButton d-block" (click)="loadFriends()">
                    Add Group
                </button>
            </div>
            <div class="col-md-7">
                <div class="header">
                    <h4>Expenses</h4>
                </div>
                <ul class="backcolor">
                    <li>
                        <button data-target="#addExpenseModal" data-toggle="modal"
                            class="btn btn-info btn-sm customButton d-block" (click)="loadGroupParticipants()">
                            Add Expense
                        </button>
                    </li>
                    <div *ngFor="let exp of expenses">
                        <li class="cursorPointer">{{exp.expenseName}}</li>
                    </div>

                    <div id="accordionia" class="accordion">
                            <div *ngFor="let num of numdun">
                                <app-expense-detail 
                                [accordionId]="'#accordionia'"
                                [cardHeader]="num"></app-expense-detail>
                            </div>
                    </div>

                    <!-- <div id="accordian2" class="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                            Collapsible Group Item #1
                                        </button>
                                    </h2>
                                            
                                </div>
                                <div id="collapse3" class="collapse show" aria-labelledby="headingOne" data-parent="#accordian2">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repudiandae soluta excepturi eius, ducimus debitis maiores magni assumenda, autem hic dolor recusandae necessitatibus adipisci tempora culpa.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                    <div class="card-header" id="headingtwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                Collapsible Group Item #2
                                            </button>
                                        </h2>
                                                
                                    </div>
                                    <div id="collapse2" class="collapse" aria-labelledby="headingtwo" data-parent="#accordian2">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repudiandae soluta excepturi eius, ducimus debitis maiores magni assumenda, autem hic dolor recusandae necessitatibus adipisci tempora culpa.
                                        </div>
                                    </div>
                                </div>
                                
                    </div> -->
                </ul>
            </div>
            <div class="d-none d-md-block col-md-2">
                <div class="header">
                    <h4>Contributors</h4>
                </div>
                <ul class="backcolor">
                    <div *ngFor="let user of grpParticipants">
                        <li class="cursorPointer">{{user.userName}}</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- modal for ading spend group starts -->
<div class="col-xs-12">
    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="addGroupModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="model-title">Add Group</h5>
                    <button class="close" data-dismiss="modal" style="outline: none;">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="newGroupName" [ngModelOptions]="{standalone: true}"
                                class="form-control" placeholder="Enter Group Name">
                        </div>
                        <div class="form-group">
                            <ng-multiselect-dropdown [placeholder]="'Select Contributors'" [data]="friendDropdownList"
                                [(ngModel)]="friendSelectedItems" [settings]="friendDropdownSettings"
                                [ngModelOptions]="{standalone: true}">
                            </ng-multiselect-dropdown>
                            <small>You will be default participant in the group!!</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" data-dismiss="modal" (click)="addGroup()">Add</button>
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal for ading expense to group starts -->
<div class="col-xs-12">
    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="addExpenseModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="model-title">Add Expense</h5>
                    <button class="close" data-dismiss="modal" style="outline: none;">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- <form #expenseForm="ngForm" (ngSubmit)="addExpense()" > -->
                    <form>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="newExpenseName" [ngModelOptions]="{standalone: true}"
                                class="form-control" placeholder="Enter Expense Name">
                        </div>
                        <div class="form-group">
                            <ng-multiselect-dropdown [placeholder]="'Select Participants'" [data]="groupExpenseDropdownList"
                                [(ngModel)]="groupExpenseSelectedItems" [settings]="groupExpenseDropdownSettings"
                                [ngModelOptions]="{standalone: true}">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span  class="input-group-text bg-primary text-white">&#8377;</span>
                                </div>
                                <input type="number" [(ngModel)]="expenseAmount" [ngModelOptions]="{standalone: true}"
                                    class="form-control" placeholder="Amount">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <!-- <span  class="input-group-text bg-primary text-white">&#8377;</span> -->
                                    <span class="input-group-text bg-primary text-white"><i class="fas fa-user"></i></span>
                                </div>
                                <select name="expOwner" [(ngModel)]="expenseOwner" class="form-control" required>
                                    <option [ngValue]="undefined" disabled selected>Paid by...</option>
                                    <option *ngFor="let data of grpParticipants" [value]="data.userId" >{{data.userName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button #buttonEl class="btn btn-primary" (click)="d.toggle()" type="button">
                                        <i class="far fa-calendar-alt"></i>
                                    </button>
                                </div>
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="expenseDate"
                                    ngbDatepicker #d="ngbDatepicker" placement="right" [positionTarget]="buttonEl" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" (click)="addExpense()" >Save</button>
                    <button class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>