<div class="container">
    <!-- loader spinner -->
    <div *ngIf="showLoader" class="spinner"></div>
    <div class="row" style="text-align: left">
        <div class="col-md-6 offset-md-3 col-sm-10 sm-offset-1">
            <form #logInForm="ngForm" (ngSubmit)="updatePasswordFunction(logInForm)">

                <div class="form-group">
                    <input type="email" name="email" [(ngModel)]="email" #mailId="ngModel" class="form-control" placeholder="Email" required>
                </div>
                <div [hidden]="mailId.valid||mailId.pristine" class="alert alert-danger h6">
                    Email required
                </div>

                <button type="button" class="btn btn-primary" (click)="sendValidator()" [disabled]="!mailId.valid || showLoader" >Send Verification Mail</button>
                <!-- https://howtodoinjava.com/angular/angular-interpolation/ interpolations gives stringified data, so can't be used in data-binding as disabled={{shoLoader}} will evaluate to disabled="true"/"false" which will make it always diabled-->

                <div class="form-group" style="padding-top: 10px">
                    <input #validator="ngModel" name="otp" [(ngModel)]="otp" class="form-control" placeholder="Enter OTP" required>
                </div>
                <div [hidden]="validator.valid||validator.pristine" class="alert alert-danger  h6">
                    enter password
                </div>

                <div class="form-group">
                    <input type="password" #pass="ngModel" name="password" [(ngModel)]="password" class="form-control" placeholder="Enter Password"
                        required>
                </div>
                <div [hidden]="pass.valid||pass.pristine" class="alert alert-danger  h6">
                    enter new password
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!logInForm.form.valid">Update Password</button>

            </form>
        </div>
    </div>
</div>