<div class="container">
    <div class="row" style="text-align: left">
        <div class="col-md-12">
            <form #logInForm="ngForm" (ngSubmit)="updatePasswordFunction()">

                <div class="form-group">
                    <input type="email" name="email" [(ngModel)]="email" #mailId="ngModel" class="form-control" placeholder="Email" required>
                </div>
                <div [hidden]="mailId.valid||mailId.pristine" class="alert alert-danger h6">
                    Email required
                </div>

                <button type="button" class="btn btn-primary" (click)="sendValidator()" [disabled]="!mailId.valid">Send Verification Mail</button>
                

                <div class="form-group" style="padding-top: 10px">
                    <textarea #validator="ngModel" name="otp" [(ngModel)]="otp" class="form-control" placeholder="Enter OTP" cols="30" rows="1"
                        required></textarea>
                </div>
                <div [hidden]="validator.valid||validator.pristine" class="alert alert-danger  h6">
                    enter password
                </div>

                <div class="form-group">
                    <input type="password" #pass="ngModel" name="password" [(ngModel)]="password" class="form-control" placeholder="Enter Password"
                        required>
                </div>
                <div [hidden]="pass.valid||pass.pristine" class="alert alert-danger  h6">
                    enter new password
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!logInForm.form.valid">Update Password</button>

            </form>
        </div>
    </div>
</div>