<div id="page-container">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']">ToDo App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav navbar-nav" routerLinkActive="active" style="margin-left: auto">
          <a class="nav-link nav-item" *ngFor="let link of links"
            [routerLink]="link.path">{{ link.text | titlecase}}</a>
          <a class="nav-link nav-item" *ngIf="isLoggedIn" routerLink="logout" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <br />
  <div *ngIf="showLoader" class="spinner"></div>
  <div style="padding-top: 50px; text-align: center " id="content-wrap">
    <router-outlet></router-outlet>
  </div>
  <div toastContainer></div>
  <footer class="bg-dark" id="footer">
    <div class="container ">
      <div class=" row">
        <div class="col footer-style">
          <h5>Spendz App by Shubham </h5>
          <p>Copyright &copy; {{thisYear}}</p>
        </div>

      </div>
    </div>
  </footer>
</div>