
  img{
    object-fit: cover;
    height: 115px;
    width:120px;
    margin-bottom: 18px;
    padding: 1px;
    box-shadow: 2px 3px 4px  rgb(75, 73, 68);
}

  .user {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border:2px black solid;
    object-fit: cover;
    padding:2px;
    margin: 10px 0px;
    box-shadow: 2px 3px 4px  rgb(75, 73, 68);
  }

   .box{
      border: 3px blue double;
      margin: 3px;
  }
 
 .marker-name{
     text-align: center;
 }

  @media screen and (min-width:767px){

      .marker-btn{
        margin: 10px 0px;
    }

    span {
        height: 100%;
        vertical-align: middle;
        display: inline-block; }
    a {
        vertical-align: middle;
        display: inline-block; }
  }